extends layout

block content
  section.app-content
    .loading
    #content
      h2.headline In the last <span>7</span> days, you've made <span data-trips-under-two-miles>&nbsp;</span> trips under two miles.

      h2.headline If you had walked you would be at <span data-percent-of-goal-no-driving>&nbsp;</span> of your fitness goal.

      ul#trips
        li.trip
          h3.triptitle Last 7 Days Fitness
          .statbox
            span.or but
            .stat.length
              em you walked
              var(data-steps) &nbsp;
              span steps
            .stat.equivalence
              em which is
              var(data-percent-of-goal) &nbsp;
              span of your goal


        h2.headline Here are the trips you could have walked

    a.logout(href='/logout/') Log Out