extends layout

block content
  #driving.col-md-4.col-md-offset-2
    h3 In the last 7 days
    .row.statRow
      .tripCount.stat
      .tripCountLabel.statLabel Trips Under 2 Miles
    .row.statRow
      .travelTime.stat
      .travelTimeLabel.statLabel Minutes Driving
  .loading

