extends layout

block content
  section.app-content
    #driving
      //- h2.headline In the last 7 days, you've made
      ul.statlist
        li
          var.stat(data-trips-under-two-miles)
          span.statLabel Trips Under 2 Miles
        li
          var.stat(data-driving-duration)
          span.statLabel Minutes Driving
    #moves
      ul.statlist
        li
          var.stat(data-steps)
          span.statLabel Steps
        li
          var.stat(data-percent-of-goal)
          span.statLabel Percent of Goal
        li
          var.stat(data-percent-of-goal-no-driving)
          span.statLabel Percent of Goal You Would Be At If You Didn't Drive For Trips Under 2 Miles
        li
          var.stat(data-walking-distance)
          span.statLabel Miles Walked
        li
          var.stat(data-calories)
          span.statLabel Calories

    ul#trips
      li.trip
        p.triptime Trip at 12:36am on 12/12/12
        .statbox
          span.or OR
          .stat.length
            var 1.2
            span miles
          .stat.equivalence
            var 12%
            span of your goal

  .loading