extends layout

block content
  section.app-content
    #driving
      h2.headline In the last 7 days, you've made <span data-trips-under-two-miles>&nbsp;</span> trips under two miles

      h2.headline You've walked <span ddata-percent-of-goal>&nbsp;</span> of your goal during that time.
      .statbox
        span.or OR
        .stat.length
          var(data-steps) &nbsp;
          span steps
        .stat.equivalence
          var(data-percent-of-goal) &nbsp;
          span of your goal

      h2.headline You would be at <span data-percent-of-goal-no-driving>&nbsp;</span> if you had walked all of the trips you drove which were less than two miles

      h2.headline Here are the trips you could have walked
      ul#trips

  .loading