extends layout

block content

  section.auth-panel.jawbone
    if !jawbone_access_token
      a.auth-button.jawbone(href="/authorize-jawbone/") Sign in with Jawbone
    else if !automatic_access_token
      a.auth-button.automatic(href="/authorize-automatic/") Sign in with Automatic


