/*
light = 300
regular = 400
bold = 700
*/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
 }
html{
  font: normal 1em "effra";
}
body{
  background: rgb(248,248,248);
  color: rgb(60,60,60);
}
header[role="banner"]{
  background: rgb(90,90,90);
  color: rgb(189,189,189);
  overflow: auto;
  text-align: center;
  text-shadow: 0px 1px 0px rgb(60,60,60);
}

#content {
  display: none;
}

#content h2:first-child {
  margin-top: 0;
}

.titlebar{
  font-weight: normal;
  letter-spacing: .175em;
  font-size: 1em;
  margin: .5em;
  font-weight: 400;
}
main{
  position: relative;
}

.homepage {
  /*width: 960px;*/
  margin: 0 auto;
  background: url(/images/homepage_bg.png) center 0 no-repeat;
  background-size: 200%;
  height: 651px;
}

.homepage h1 {
  margin: 0;
  padding-top: .5em;
  text-transform: uppercase;
  font-size: 2em;
  color: #FFF;
  line-height: 1;
  text-align: center;
}

.homepage h2 {
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  color: #FFF;
  letter-spacing: 1px;
  line-height: 1.4;
}

.auth-panel{
  text-align: center;
  position: relative;
  overflow: auto;
}
.auth-button{
  display: block;
  color: rgb(248,248,248);
  background: rgb(57,204,204);
  font-weight: 400;
  font-size: 1.25em;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,.1), 0px 1px 0px 0px rgba(0,0,0,.1);
  border-radius: .5em;
  text-decoration: none;
  padding: .75em;
  max-width: 12em;
  margin: 1.5em auto;
}
.auth-button.automatic{
  background: gray;
}

.app-content{
  max-width: 320px;
  margin: auto;
  padding: .5em;
  border-left: 1px solid rgb(220,220,220);
  border-right: 1px solid rgb(220,220,220);
  overflow: auto;
  min-height: 500px;
}
.app-content h2 span {
  font-size: 30px;
  font-weight: bold;
}

.headline{
  font-weight: 400;
}
.statlist{
  list-style: none;
  padding: 0;
}
.statlist..stat{
  font-style: normal;
  font-weight: 700;
}
.statlist.stat::after{
  content: "";
  margin-left: .25em;
}
#trips{
  list-style: none;
  padding: 0;
}
.trip{
  margin: 1em 0;
  overflow: hidden;
  border-radius: .5em;
  border: 1px solid rgba(0,0,0,.2);
  background: rgba(0,0,0,.1);
}
.trip::after{
  content: "";
  display: table;
  clear: both;
}
.triptitle{
  margin: .25em;
  font-weight: 400;
  color: rgba(0,0,0,.5);
  font-size: 1em;
}
.statbox{
  position: relative;
  border-top: 1px solid rgba(0,0,0,.2);
  border-bottom: 1px solid rgba(0,0,0,.2);
}
.statbox::after{
  content: "";
  display: table;
  clear: both;
}
.statbox .or{
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  color: white;
  background: rgb(90,90,90);
  font-weight: 400;
  padding: 8px 0 0 0;
  text-align: center;
  border-radius: 100%;
  font-size: 14px;
  top: 34px;
  left: 50%;
  margin-left: -16px;
}
.stat{
  width: 50%;
  text-align: center;
  padding: 1em 0;
  overflow: auto;
}
.stat em{
  font-style: normal;
  opacity: .5;
}
.stat var{
  font-style: normal;
  display: block;
  font-size: 2.5em;
  line-height: .9;
}
.stat span{
  font-style: normal;
  display: block;
  opacity: .5;
}
.length{
  float: left;
  background: gray;
  /*color: rgb(40,40,40);*/
  color: rgb(248,248,248);
}
.equivalence{
  float: right;
  background: rgb(237,75,13);
  color: rgb(248,248,248);
}

.loading {
  background: rgba(0,0,0,.1);
  border-radius: .5em;
  border: 1px solid rgba(0,0,0,.2);
  margin: 1em 0;
  color: rgba(0,0,0,.5);
  padding: 12px 15px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
}

#loading-bar {
  width: 10%;
  height: 1px;
  background: rgba(0, 245, 255, 1);
  position: absolute;
  top:0;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

#loading-bar.moves {
  width: 33%;
}

#loading-bar.goals {
  width: 66% !important;
}

#loading-bar.trips {
  width: 100% !important;
}


@media (min-width: 600px) {
  .homepage {
    background-size: 100%;
    width: 100%;
  }
}

